body {
  margin: 20px;
  font-family: sans-serif;
}

#postInput {
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
}

#postList .postItem {
  margin-bottom: 15px;
}

.postTime {
  font-size: 12px;
  color: gray;
}
